body {
  background:#106c2b;
}

#tapis {
  width:100%;
  height:100%;
  transform-origin: 0 0;
}

.card_face {
  position:absolute;
  width:160px;
  height:236px;
  transition:top ease 0.4s, left ease 0.4s, margin ease 0.4s;
  background-color:none;
}

.card_shape {
  position:absolute;
  width:160px;
  height:236px;
  background:#fff;
  border-radius:10px;
  border:1px solid #666;
  box-shadow:0 0 2px 2px rgba(0,0,0,0.2);
  transition:top ease 0.4s, left ease 0.4s, margin ease 0.4s;
}

.card_deck {
  width:160px;
  height:236px;
}

.D, .C, .H, .S { font-size:65px; background:none;}
.card_shape .D, .card_shape .C, .card_shape .H, .card_shape .S, .card_shape .v, .card_shape .vu, .card_shape .color, .card_shape .coloru, .hon, .card_shape .deck, .card_shape .places { position:absolute; }
.S, .C, .b { color:black; }
.H, .D, .r { color:#C40000; }
.hon       { font-size:180px; top:-15px; left:20px; }
.hon, .deck, .places { font-size:245px; top:-60px; left:0; }
.places { font-size:245px; top:-60px; left:-2px; }
.deck { color:blue; }
.str { color:yellow; }
.tal { color: gold; }
.backD   { background:transparent;  border:none; box-shadow:none; background-position:0 42px; background-repeat:no-repeat; }
.backC   { background:transparent;  border:none; box-shadow:none; background-position:0 42px; background-repeat:no-repeat; }
.backH   { background:transparent;  border:none; box-shadow:none; background-position:0 42px; background-repeat:no-repeat; }
.backS   { background:transparent;  border:none; box-shadow:none; background-position:0 42px; background-repeat:no-repeat; }
.star    { background:transparent;  border:none; box-shadox:none; background-position:0 42px; background-repeat:no-repeat; }
.restack { background:transparent;  border:none; box-shadow:none; background-position:0 42px; background-repeat:no-repeat;}
.shad1   { background:rgba(0,0,0,0.4);     border:none; box-shadow:0 0 0 4px rgba(0,0,0,0.5) inset;}
.shad2   { background:rgba(0,0,0,0.2);     border:none; box-shadow:0 0 0 4px rgba(0,0,0,0.5) inset;}
.highlighted {
  border-radius: 10px;
  box-shadow:0 0 20px 10px #ffa;
  transition:box-shadow 0.8s ease;
}

.raised {
  box-shadow:0 0 10px rgba(0,0,0,1);
  back  ground-color:rgba(0,0,0,0.3);
  margin-left:15px;
  margin-top:15px;
}

